.search-input {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 0.5em;
    width: 328px;
    margin: 0 1rem;
    input {
        height: 100%;
        width: 88%;
        border: none;
        outline: none;
    }
}