.btn {
    border-radius: 5px;
    background-color: var(--green-color);
    padding: 0.6em 1.7em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-family: 'Gelion-Medium';
    cursor: pointer;
    &:hover { 
        background-color: #35ac82;
    }
}