.main-container {
    flex: 5;
    overflow-y: scroll;
    height: 100%;

}
.tabs-container {
    padding: 0 1.3rem;
    border-bottom: 1px solid var(--border-color);
    justify-content: start;
    height: 40px;
    span {
        height: 100%;
        margin: 0 1.4rem;
        cursor: pointer;
    }
    span.active {
        border-bottom: 2px solid var(--purple-color);
        color: black;
        font-family: 'Gelion';
    }
}