.sidebar {
  padding: 1.1rem;
  border-right: 1px solid #ecebf5;
  flex: 1;
  height: 100%;
  .header {
    border: 1px solid #ecebf5;
    padding: 0.7rem 0.4rem;
    border-radius: 10px;
  }
  .sidebar-items {
    margin: 1.5rem 0;
    width: 95%;
  }
  .sidebar-item {
    margin: 1.3rem 0;
    .item-name {
      padding-left: 1.3rem;
      padding-right: 3rem;
    }
  }
  .sidebar-item.active .link-hover {
    color: var(--purple-color);
    .item-name {
        font-family: 'Gelion-Medium';
    }
    .icon {
      path {
        fill: var(--purple-color);
      }
    }
  }
  .active-child-item {
    color: #000;
    font-family: 'Gelion-Medium';
  }
  // HOVER
  .link-hover {
    cursor: pointer;
    &:hover {
      color: var(--purple-color);
      .icon {
        path {
          fill: var(--purple-color);
        }
      }
    }
  }
  .child-list-items ul {
    margin-top: 0;
  }
  .child-list-items li {
    cursor: pointer;
    margin: 0.7rem 0;
    user-select: none;
  }
}
