.sidebar {
  padding: 1.2rem;
  border-right: 1px solid #ecebf5;
  flex: 1;
  height: 100%;
  .header {
    border: 1px solid #ecebf5;
    padding: 0.7rem 0.4rem;
    border-radius: 10px;
  }
  .sidebar-items {
    margin: 1.5rem 0;
    width: 95%;
  }
  .sidebar-item {
    margin: 1.3rem 0;
    .item-name {
      padding-left: 1.3rem;
      padding-right: 3rem;
    }
  }
  // HOVER
  .link-hover {
    cursor: pointer;
    &:hover {
        color: var(--purple-color);
       .icon {
        path {
          fill: var(--purple-color);
        }
      }
    }
  }
}
